[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
werkzeug = "==3.1.3"
jinja2 = "==3.1.5"
itsdangerous = "==2.2.0"
click = "==8.1.8"
blinker = "==1.8.2"
sqlalchemy = "==2.0.36"
alembic = "==1.16.5"
flask-sqlalchemy = "==3.1.1"
flask-migrate = "==4.0.5"
sqlalchemy-serializer = "==1.4.12"
greenlet = "==3.1.1"
psycopg2-binary = "==2.9.10"
flask-restful = "==0.3.10"
flask-jwt-extended = "==4.5.3"
flask-cors = "==4.0.0"
flask-bcrypt = "==1.0.1"
gunicorn = "==23.0.0"
python-dotenv = "==1.0.1"

# HF tools
huggingface-hub = "==0.34.4"
hf-xet = "==1.1.9"
fsspec = "==2025.3.0"
filelock = "==3.16.1"
tqdm = "==4.67.1"

# HTTP stack
requests = "==2.32.4"
urllib3 = "==2.2.3"
charset-normalizer = "==3.4.3"
idna = "==3.10"
certifi = "==2025.8.3"

# Time / typing / misc
python-dateutil = "==2.9.0.post0"
pytz = "==2025.1"
typing-extensions = "==4.12.2"
importlib-metadata = "==8.5.0"
importlib-resources = "==6.4.5"
markupsafe = "==2.1.5"
mako = "==1.3.9"
aniso8601 = "==10.0.0"
pyjwt = "==2.9.0"
packaging = "==24.2"
six = "==1.17.0"
zipp = "==3.20.2"

# You had these; keeping unless intentional
ps = "==0.1.0"

# IntaSend SDK (aligned with our code)
intasend-python = ">=1.0.0"

[dev-packages]

[requires]
python_version = "3.13"
